.App {
  
}

header {
  display: flex;
  align-items: center;

}

.logo {
  animation: rotating 3s linear infinite;
}


@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}